:root {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  }
/*header section styles*/
.webstudio-logo-header{
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  
  letter-spacing: 0.03em;
  
  color: #2196F3;
  } 
  /* Studio */
  .nav-studio{

    position: absolute;
    width: 42px;
    height: 16px;
    left: 453px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #2196F3;}
    a:link{text-decoration: none;}
    a:visited{color: #000;}
    a:hover{background-color: darkred;}
a:focus{background-color: gray;}

user agent stylesheet
address {
    display: block;
    font-style: italic;
}
footer {
    background: #2F303A;
    color: white;
}